Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterNamespace: false
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
PointerAlignment: Right
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
NamespaceIndentation: None
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
